/* line 1, ../sass/fullmoon.scss */
html, body {
  width: 100%;
  height: 100%;
}

/* line 6, ../sass/fullmoon.scss */
.header-banner-wrap {
  position: relative;
  width: 100%;
}
/* line 9, ../sass/fullmoon.scss */
.header-banner-wrap .img-wrap {
  width: 100%;
  height: 652px;
  overflow: hidden;
}
/* line 14, ../sass/fullmoon.scss */
.header-banner-wrap .img-wrap img {
  width: 100%;
  background-size: cover;
}
/* line 19, ../sass/fullmoon.scss */
.header-banner-wrap .color-overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 652px;
}
/* line 27, ../sass/fullmoon.scss */
.header-banner-wrap .main-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

/* line 34, ../sass/fullmoon.scss */
.navbar-default .navbar-nav > li > a {
  color: #dff0d8;
}

/* line 37, ../sass/fullmoon.scss */
.navbar-default .navbar-nav > .open > a {
  background-color: none;
}

/* line 41, ../sass/fullmoon.scss */
.abc {
  padding-top: 185px;
}

/* line 46, ../sass/fullmoon.scss */
.abc h1 {
  text-align: center;
  color: white;
  position: absolute;
}
/* line 51, ../sass/fullmoon.scss */
.abc p {
  text-align: center;
  color: white;
  position: absolute;
  margin-top: 90px;
}

/* line 58, ../sass/fullmoon.scss */
.header4 {
  text-align: center;
  color: white;
  padding-top: 140px;
}

/* line 63, ../sass/fullmoon.scss */
.header5 {
  text-align: center;
  color: white;
}

/* line 67, ../sass/fullmoon.scss */
.linker {
  margin-top: 70px;
}

/* line 70, ../sass/fullmoon.scss */
.imaze {
  width: 70px;
  margin-left: 130px;
  padding-top: 28px;
}

/* line 75, ../sass/fullmoon.scss */
.header {
  margin-bottom: 40px;
  text-align: center;
}

/* line 79, ../sass/fullmoon.scss */
.header h2 {
  text-align: center;
  margin-top: 110px;
}

/* line 83, ../sass/fullmoon.scss */
.header h3 {
  text-align: center;
}

/* line 86, ../sass/fullmoon.scss */
.example1 {
  box-sizing: content-box;
  width: 300px;
  height: 285px;
  padding: 30px;
}

/* line 92, ../sass/fullmoon.scss */
.example1:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  box-shadow: 0px 0px 18px 2px #d6d6d6;
}

/* line 100, ../sass/fullmoon.scss */
.header7 {
  margin-bottom: 65px;
  text-align: center;
}

/* line 104, ../sass/fullmoon.scss */
.header7 h2 {
  text-align: center;
  margin-top: 210px;
}

/* line 108, ../sass/fullmoon.scss */
.header7 h3 {
  text-align: center;
}

/* line 111, ../sass/fullmoon.scss */
.sch {
  width: 300px;
  margin: 26px;
  height: 260px;
}

/* line 116, ../sass/fullmoon.scss */
.sch:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  box-shadow: 0px 3px 8px 2px #ddd;
}

/* line 124, ../sass/fullmoon.scss */
.saha {
  width: 300px;
  margin: 26px;
}

/* line 128, ../sass/fullmoon.scss */
.saha:hover {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  box-shadow: 0px 3px 8px 2px #ddd;
}

/* line 136, ../sass/fullmoon.scss */
.imagger {
  padding-left: 245px;
}

/* line 140, ../sass/fullmoon.scss */
.images {
  width: 365px;
  margin: -33px;
}

/* line 144, ../sass/fullmoon.scss */
.header1 {
  margin: 65px;
}

/* line 147, ../sass/fullmoon.scss */
.header2 {
  margin-bottom: 65px;
  text-align: center;
}

/* line 151, ../sass/fullmoon.scss */
.header2 h2 {
  text-align: center;
  margin-top: 110px;
}

/* line 155, ../sass/fullmoon.scss */
.header2 h3 {
  text-align: center;
}

/* line 158, ../sass/fullmoon.scss */
.header3 {
  margin-bottom: 65px;
  text-align: center;
}

/* line 162, ../sass/fullmoon.scss */
.header3 h2 {
  text-align: center;
  margin-top: 110px;
}

/* line 166, ../sass/fullmoon.scss */
.header3 h3 {
  text-align: center;
}

/* .fa{
   font: normal normal normal 88px/1 FontAwesome;
 }
 .fa-6{
   margin-top: -129px;
   margin-left: 471px;
   font-size: 85px;
 }*/
/* line 178, ../sass/fullmoon.scss */
.fa {
  font-size: 4em;
}

/* line 181, ../sass/fullmoon.scss */
.example2 {
  box-sizing: content-box;
  padding: 75px;
  border: 1px solid #d6d6d6;
}

/* line 186, ../sass/fullmoon.scss */
.header6 {
  text-align: center;
}

/* line 189, ../sass/fullmoon.scss */
.image2 {
  width: 70px;
  margin-top: -116px;
  margin-left: 455px;
}

/* line 194, ../sass/fullmoon.scss */
.btn-add a {
  float: right;
  background: #337ab7;
  padding: 10px 10px;
  color: #fff;
  margin: 12px 5px;
}

/* line 202, ../sass/fullmoon.scss */
.btn-add-on a {
  float: right;
  background: #337ab7;
  padding: 10px 10px;
  color: #fff;
  margin: 12px 0px;
}

/* line 210, ../sass/fullmoon.scss */
.nav-wrapper {
  width: 100%;
  background-color: #337ab7;
}

/* line 214, ../sass/fullmoon.scss */
input[type="text"] {
  width: 85%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #d6d6d6;
}

/* line 221, ../sass/fullmoon.scss */
.footer {
  color: #fff;
}

/* line 224, ../sass/fullmoon.scss */
.btn-submit {
  float: right;
  margin-right: 65px;
  margin-top: 10px;
  background: none;
  border: none;
  border: 2px solid #fff;
  padding: 12px 30px;
  font-weight: bold;
  color: #fff;
  transition: 0.3s;
}
/* line 235, ../sass/fullmoon.scss */
.btn-submit:hover {
  background: #fff;
  color: #337ab7;
}

/* line 240, ../sass/fullmoon.scss */
.linker1 {
  background-color: white;
  padding: 8px;
  margin-right: 327px;
}

/* line 245, ../sass/fullmoon.scss */
.imazes {
  padding-top: 5px;
  width: 50px;
  padding-right: 3px;
}

/* line 250, ../sass/fullmoon.scss */
.footer-wrapper {
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 65px;
}

/* line 256, ../sass/fullmoon.scss */
.dropdown .divider {
  border-bottom: 1px solid black;
}

/* line 260, ../sass/fullmoon.scss */
.navbar-default {
  background: none;
  border: none;
}
