html,body{
    width: 100%;
    height: 100%;
}

.header-banner-wrap{
    position: relative;
    width: 100%;
    .img-wrap{
        width: 100%;
        height: 652px;
        overflow: hidden;

        img{
            width: 100%;
            background-size: cover;
        }
    }
    .color-overlay{
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 652px;
    }
    .main-wrapper{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
}
.navbar-default .navbar-nav>li>a {
    color: #dff0d8;
}
.navbar-default .navbar-nav>.open>a{
  background-color: none;
}

.abc{
    padding-top: 185px;
}

.abc{
    h1{
        text-align: center; 
        color: white;
        position: absolute;  
    }
    p{
        text-align: center;
        color: white;
        position: absolute;
        margin-top: 90px;
    }
}
.header4{
  text-align: center;
  color: white;
  padding-top: 140px;
}
.header5{
  text-align: center;
  color: white;
}
.linker{
  margin-top: 70px; 
}
.imaze{
  width: 70px;
  margin-left: 130px;
  padding-top: 28px;
}
.header{
  margin-bottom: 40px;
  text-align: center;
}
.header h2 {
     text-align: center;
     margin-top: 110px;
  }
  .header h3 {
    text-align: center;
  }
  .example1 {
    box-sizing: content-box;    
    width: 300px;
    height: 285px;
    padding: 30px;  
}
.example1:hover{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    box-shadow: 0px 0px 18px 2px #d6d6d6;
  }
  .header7{
    margin-bottom: 65px;
  text-align: center;
  }
  .header7 h2 {
  text-align: center;
  margin-top: 210px;
  }
.header7 h3 {
  text-align: center;
  }
  .sch{
    width: 300px;
    margin: 26px;
    height: 260px;
  }
  .sch:hover{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    box-shadow: 0px 3px 8px 2px #ddd;
  }
.saha{
  width: 300px;
  margin: 26px;
}
.saha:hover{
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    box-shadow: 0px 3px 8px 2px #ddd;
  }
.imagger{
padding-left: 245px;
}

.images{
  width: 365px;
  margin: -33px;
}
.header1{
  margin: 65px;
}
.header2{
  margin-bottom: 65px;
  text-align: center;
}
.header2 h2 {
  text-align: center;
  margin-top: 110px;
  }
  .header2 h3 {
  text-align: center;
  }
.header3{
  margin-bottom: 65px;
  text-align: center;
}
.header3 h2 {
  text-align: center;
  margin-top: 110px;
  }
.header3 h3 {
  text-align: center;
  }

 /* .fa{
    font: normal normal normal 88px/1 FontAwesome;
  }
  .fa-6{
    margin-top: -129px;
    margin-left: 471px;
    font-size: 85px;
  }*/
  .fa{
    font-size: 4em;
  }
.example2{
    box-sizing: content-box;    
    padding: 75px;    
    border: 1px solid #d6d6d6 ;
}
.header6{
  text-align: center;
}
.image2{
    width: 70px;
    margin-top: -116px;
    margin-left: 455px;
}
.btn-add a{
    float: right;
    background:#337ab7;
    padding: 10px 10px;
    color: #fff;
    margin: 12px 5px;
   
}
.btn-add-on a{
    float: right;
    background:#337ab7;
    padding: 10px 10px;
    color: #fff;
    margin: 12px 0px;
   
}
  .nav-wrapper {
    width: 100%;
    background-color: #337ab7;
  }
  input[type="text"] {
    width: 85%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #d6d6d6;
}
.footer{
  color: #fff;
}
.btn-submit{
    float: right;
    margin-right: 65px;
    margin-top: 10px;
    background: none;
    border: none;
    border: 2px solid #fff;
    padding: 12px 30px;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
    &:hover{
      background:#fff;
      color: #337ab7;
    }
}
.linker1{
  background-color: white;
  padding: 8px;
  margin-right: 327px;
}
.imazes{
  padding-top: 5px;
  width: 50px;
  padding-right: 3px;
}
.footer-wrapper{
  display: block;
  text-align: center;
  color: #fff;
  padding-top: 65px;
}
.dropdown .divider{
  border-bottom: 1px solid black;
}

.navbar-default{
  background: none;
  border:none;
}


